body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

#formPage {
  text-align: center;
}

#regNo {
  font-size: 18px;
  padding: 14px;
}

input, select, button {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 17px;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border: 1px solid #0a5c36;
  box-shadow: 0 0 5px rgba(10,92,54,0.3);
}

button {
  background: #0a5c36;
  color: white;
  border: none;
  font-weight: bold;
}

.marksheet {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.marksheet h1 {
  text-align: center;
  color: #015830;
  margin-bottom: 5px;
}

.marksheet h3 {
  text-align: center;
  margin-top: 0;
  color: #292929;
}

.student-info p {
  margin: 4px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background: #0a5c36;
  color: white;
  padding: 10px;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.summary {
  margin-top: 15px;
}

.pass {
  color: green;
  font-weight: bold;
}

.fail {
  color: red;
  font-weight: bold;
}

.print-btn {
  margin-top: 15px;
  background: #333;
}

@media print {
  .print-btn {
    display: none;
  }
}